/**
 * General styles for Badass Biz Photos, mostly just page style rewrites.
 * All gallery styles are in Galleria theme css.
 */

/* shim a div over the biz photos UIs on the biz page to hijack click */
#slide-viewer div {
	z-index: 99 !important;
}

#biz-photos-shim {
	position: absolute;
	z-index: 9 !important;
	top: 0; right: 0; bottom: 0; left: 0;
	cursor: pointer;
}

/** Grid UI */

/* remove top margin from the first row of photos */
#photo-thumbnails .photo:nth-child(-n+4) {
	margin-top: 0;
}

#photo-thumbnails .photo {
	width: 156px;
	height: auto;
	padding: 0;
}

#photo-thumbnails .photo-box {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 7px;
	border: none;
}

#photo-thumbnails .photo-img {
	box-sizing: border-box;
	width: 142px;
	height: 142px;
}

.photo-details-base #selected-photo-frame {
	width: 642px;
}

.photo-details-base #selected-photo {
	margin-top: 5px !important;
}
