/** Hide stuff */
.galleria-hidden,
.galleria-hidden * {
	visibility: hidden !important;
}

/** Grid UI */

/* Remove top margin from the first row of photos */
#photo-thumbnails .photo:nth-child(-n+4) {
	margin-top: 0;
}

#photo-thumbnails .photo {
	width: 156px;
	height: auto;
	padding: 0;
}

#photo-thumbnails .photo-box {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 7px;
	border: none;
}

#photo-thumbnails .photo-img {
	box-sizing: border-box;
	width: 142px;
	height: 142px;
}

.biz-photos-page .photo-details-base #selected-photo-frame {
	width: 642px;
}

.biz-photos-page .photo-details-base #selected-photo {
	margin-top: 5px;
}
